
body {
  text-align: center;
  background-color: #ffffff; 
}


p, h1, h2, h3, h4, h5, h6 {
  color:black;
  padding: 1em;
}
.apiCard {
    border-style: groove;
    border-width: 2em;
    border-color: black;}
.cardTop{color: black;}       //card title
.cardBottom{color: black;}    //card text

.card-img-top{
      width: 100%;
      height: auto;  }

button{
  padding: 1em;
}

